<!DOCTYPE html>
<html>

<head>
  <title>Error</title>

   <!-- link to the CSS stylesheet -->
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  
   <!-- container class for go back home -->
  <div class = "container">
    <h1>Oops!</h1>
    <p><%= message %></p>
    <a href="/">Go Back Home</a>
  </div>

</body>

</html>