<!DOCTYPE html>
<html>
<head>
  <title>Get a Joke</title>
</head>
<body>
  <h1>Enter Your Name to Get a Joke</h1>
  <form action="/get-joke" method="POST">
    <input type="text" name="name" placeholder="Your Name" required />
    <button type="submit">Get Joke</button>
  </form>
</body>
</html>